<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Casa do Código - Erro 500</title>
</head>
<div class="container">
    <section class="col-12"></section>
        <h1>Oops algo deu errado!</h1>
        <h2>Erro 500</h2>
        <p class="alert alert-danger">
            <%= error %>
        </p>
        <p>
            <a href="/" class="btn btn-primary">Home</a>
        </p>
    </div>  
</div>
</body>
</html>